@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@0,200;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@0,200;0,400;1,100&display=swap");
#tortas-drip, .subSecciones, .ubi-escucharte {
  font-family: "Raleway", sans-serif;
  text-align: center;
  background-color: #EBEBF2;
  height: 60px;
  font-size: 40px;
}

.subSecciones, .ubi-escucharte {
  font-size: 20px;
}

.ubi-escucharte {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 10px;
}

#tres-fotos {
  display: flex;
  padding-top: 20px;
  padding-bottom: 30px;
  justify-content: center;
}

.div-img {
  width: 300px;
  height: 500px;
}

#foto-del-medio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  color: rgb(2, 2, 2);
  text-align: center;
  font-size: 20px;
  background-color: #F7E9E4;
  width: 300px;
  height: 500px;
}

#cartel-del-medio {
  width: 70%;
  padding: 10%;
  margin: auto;
}

.fotos-drip-tamaño {
  width: 200px;
  height: auto;
}

#ul-drip {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  column-gap: 20px;
  justify-content: space-evenly;
  padding-top: 30px;
}

.li-drip {
  display: inline;
  padding: 10px 10px 10px 10px;
}

.letra-tortas {
  font-size: 17px;
}

#sobre-mi {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

#texto-ella {
  font-family: "Hind Vadodara", sans-serif;
  text-align: center;
  width: 40%;
  height: auto;
  font-size: 22px;
}

#conoceme {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
}

.redes {
  width: 50px;
  height: auto;
}

.foto-de-ella {
  height: 450px;
  width: 800px;
}

#formulario {
  justify-content: center;
  padding: 20px 0 20px 0;
}

.card {
  margin-top: 25px;
}

.container-fluid {
  flex-wrap: nowrap;
}

nav {
  border-bottom: solid black 1px;
}

.li-nav {
  display: inline;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: solid black 2px;
  border-top: solid black 2px;
}

.ul-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}

.logo-ubi {
  display: flex;
  justify-content: flex-start;
}

.logo {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: stretch;
}

.secciones {
  font-family: "Mate SC", serif;
  margin-top: 15px;
  font-size: 40px;
  color: rgb(2, 2, 2);
  background-color: #F7E9E4;
  width: 100%;
  height: 300px;
  text-align: center;
}

.nombre-de-secciones {
  line-height: 300px;
}

footer {
  margin-top: 10px;
  background-color: #EBEBF2;
  text-align: center;
}

.menu {
  font-family: "Raleway", sans-serif;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: #020202;
  margin: 0px 70px 0px 0px;
  padding: 0px 10px 0px 15px;
}

* {
  margin: 0;
  padding: 0;
}

#main {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
