$color-secundario:#EBEBF2;
$letra-secundaria: 'Raleway', sans-serif;
$tamano-secundario: 60px;
$tercer-letra: 'Hind Vadodara', sans-serif;
$letra-menu:'Raleway', sans-serif;
$letra-principal: 'Mate SC', serif