$color-principal: #F7E9E4;
$color-secundario:#EBEBF2;
$letra-secundaria: 'Raleway', sans-serif;
$tamano-secundario: 75px;
$tercer-letra: 'Hind Vadodara', sans-serif;
$letra-menu:'Raleway', sans-serif;
$letra-principal: 'Mate SC', serif

