@import "./components/media-queries";
@import "./variable";
@import "./components/subsecciones";
@import "./components/otras-variables";
@import "./components/nav";
@import "./components/logo";
@import "./components/secciones";
@import "./components/footer";
@import "./components/menu";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@0,200;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;}
    #main{
        width: 100%;
    }