$letra-principal: 'Mate SC', serif;
$color-principal: #F7E9E4;
$tamano: 300px;
$color-secundario:#EBEBF2;
$letra-secundaria: 'Raleway', sans-serif;
$tamano-secundario: 60px;
$tercer-letra: 'Hind Vadodara', sans-serif;
$letra-menu:'Raleway', sans-serif;

