@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
}
#index-negrita{
    font-style: italic;
    font-weight: bold;
}
#sobre-mi-negrita{
  font-style: italic; 
  font-weight: bold;
}
#productos-negra{
    font-style: italic; 
    font-weight: bold;
}
#contacto-negrita{
    font-style: italic; 
    font-weight: bold;
}
#preguntas-frecuentes-negrita{
    font-style: italic; 
    font-weight: bold;
}

header{
    grid-area: header;
    
}
footer{
    grid-area: footer;
    margin-top: 10px;
    background-color:#8585858a;
    text-align: center;
}
nav{
    grid-area: nav;
    border-bottom: solid black 1px;
}
#nuestros-productos{
    grid-area: prodcutos-foto ;
}
#inicio-productos{
    grid-area: inicio-productos;
}
#fotos-productos{
    grid-area: fotos-productos;
}

.logo-ubi{
    display: flex;
    justify-content:flex-start;
}
.menu{  
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(2, 2, 2); 
    margin : 0px 70px 0px 0px;
    padding : 0px 10px 0px 15px;
}

.logo{
 width: 50%;
 height: auto;
 display: flex;
 justify-content: stretch;
}
.li-nav{ 
 display: inline;
 text-align: center; 
 padding-top: 5px;
 padding-bottom: 5px;
 border-bottom:  solid black 2px;
 border-top: solid black 2px;
}
.ul-nav{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-bottom: 15px;
}

#tres-fotos{
 display: flex;
 padding-top: 20px  ;
 padding-bottom: 30px;
 justify-content:center;
}
.div-img{
 width: 300px;
 height: 500px;
}
#foto-del-medio{
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
 color: rgb(2, 2, 2); 
 align-items: center ;
 text-align: center;
 font-size: 20px;
 background-color: #F7E9E4;
 width: 300px;
 height: 500px;
}
#link-del-medio{
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
 align-items: center;
 text-decoration: none;
 color: rgb(2, 2, 2); 
 }

 #tortas-drip{
    text-align: center;
    background-color: #EBEBF2;
    height: 60px;
    font-size: 20px;
}
.fotos-drip-tamaño{
    width: 200px;
    height: auto;
    
}
#ul-drip{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
    justify-content: space-evenly;
    padding-top: 30px;
}
.li-drip{
    display: inline;
    padding:10px 10px 10px 10px ;
}
.letra-tortas{
    font-size: 17px;
}

 #sobre-mi-inicio{
     text-align: center;
     background-color: #EBEBF2;
     height: 60px;
     font-size: 20px;
     margin-top: 30px;
     margin-bottom: 30px;
 }
 #sobre-mi{
     display: flex;
     justify-content:center;
     margin-bottom: 30px;
 }
 #foto-ella{
     width: 600px;
     height: 450px;
     padding-right: 30px;
 }
 #texto-ella{
     width: 40%;
     height: auto;
     font-size:  25px ;
 }
 #conoceme{
     font-family: 'Raleway', sans-serif;
     text-align: center;
     display: inline-block;
     font-size: 15px;
     text-decoration: none;
     color: blue;
 }
 .redes{
     width: 50px;
     height: auto;
 }
 #tamaño-productos{
     display: flex;
     text-align: center;
     align-items: center;
     margin-top: 15px;
     font-size: 40px;
     color: rgb(2, 2, 2); 
     background-color: #F7E9E4;
     width: 100%;
     height: 300px;
 }
 .redes{
    width: 50px;
    height: auto;
}

#tamaño-preguntas-frecuentes{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    font-size: 40px;
    color: rgb(2, 2, 2); 
    background-color: #F7E9E4;
    width: 100%;
    height: 300px;
}
#tamaño-sobre-mi{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    font-size: 40px;
    color: rgb(2, 2, 2); 
    background-color: #F7E9E4;
    width: 100%;
    height: 300px;
}
#tamaño-contacto{
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 15px;
    font-size: 40px;
    color: rgb(2, 2, 2); 
    background-color: #F7E9E4;
    width: 100%;
    height: 300px;
}
#ubi-escucharte{
    padding-top: 40px;
    text-align: center;
    height: 60px;
    font-size: 20px;
}
#ubi-educacion{
    text-align: center;
    background-color: #EBEBF2;
    height: 60px;
    font-size: 20px;
}
#ubi-pasteleria{
    text-align: center;
    background-color: #EBEBF2;
    height: 60px;
    font-size: 20px;
}


@media screen and (max-width:320px ) {
    #las-drip{
        display: none;
    }
    #tres-fotos{
        display: block;
        padding-top: 20px  ;
        padding-bottom: 30px;
        justify-content:center;
    }
    .div-img{
        width: 100%;
        height: 250px;
    }
    #foto-del-medio{
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Raleway', sans-serif;
        color: rgb(2, 2, 2); 
        align-items: center ;
        text-align: center;
        font-size: 20px;
        background-color: #F7E9E4;
        width: 100%;
        height: 250px;
    }
    #link-del-medio{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        align-items: center;
        text-decoration: none;
        color: rgb(2, 2, 2); 
        }
    #tortas-drip{
        text-align: center;
        background-color: #EBEBF2;
        height: 100px;
        font-size: 5px;}
    
    #sobre-mi-inicio{
        text-align: center;
        background-color: #EBEBF2;
        height: 60px;
        font-size: 15px;
        margin-top: 30px;
        margin-bottom: 30px;}
    #sobre-mi{
        display: block;}
    #foto-ella{
         width: 300px;
         height: auto;}
    #texto-ella{
         width: 300px;
         height: auto;
         font-size:  10px ;
        }
    #conoceme{
         font-family: 'Raleway', sans-serif;
         text-align: center;
         display: inline-block;
         font-size: 10px;
         text-decoration: none;
         color: blue;}
    .logo{
        width: 100px;
        }
}       
@media screen and (min-width: 1200px) {
    #carrusel{
        display: none;
        width: 100%;
        height: 200px;
    
    }

}  
