@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
}
#index-negrita{
    font-style: italic;
    font-weight: bold;
}
#sobre-mi-negrita{
  font-style: italic; 
  font-weight: bold;
}
#productos-negra{
    font-style: italic; 
    font-weight: bold;
}
#contacto-negrita{
    font-style: italic; 
    font-weight: bold;
}
#preguntas-frecuentes-negrita{
    font-style: italic; 
    font-weight: bold;
}

header{
    grid-area: header;
    
}
footer{
    grid-area: footer;
    margin-top: 10px;
    background-color:#8585858a;
    text-align: center;
}
nav{
    grid-area: nav;
    border-bottom: solid black 1px;
}
article{
    grid-area: article;
}
#nuestros-productos{
    grid-area: prodcutos-foto ;
}
#inicio-productos{
    grid-area: inicio-productos;
}
#fotos-productos{
    grid-area: fotos-productos;
}

.logo-ubi{
    display: flex;
    justify-content:flex-start;
}
.menu{  
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(2, 2, 2); 
    margin : 0px 70px 0px 0px;
    padding : 0px 10px 0px 15px;
}
#main-inicio{
    grid-template-columns: auto;
    grid-template-rows: 10% 25% 10% 15% 5% 25% 10%;
    row-gap: 10px;
    grid-template-areas: "nav" "tres-fotos" "tortas-drip" "fotos-drip" "sobre-mi-inicio" "sobre-mi-foto" "footer";
}
.logo{
 width: 150px;
 height: auto;
 display: flex;
 justify-content: stretch;
}
.li-nav{ 
 display: inline;
 text-align: center; 
 padding-top: 5px;
 padding-bottom: 5px;
 border-bottom:  solid black 2px;
 border-top: solid black 2px;
}
.ul-nav{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-bottom: 15px;
}
#tres-fotos{
 display: flex;
 padding-top: 20px  ;
 padding-bottom: 30px;
 justify-content:center;
}
.div-img{
 width: 300px;
 height: 500px;
}
#foto-del-medio{
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
 color: rgb(2, 2, 2); 
 align-items: center ;
 text-align: center;
 font-size: 20px;
 background-color: #F7E9E4;
 width: 300px;
 height: 500px;
}
#link-del-medio{
 font-family: 'Raleway', sans-serif;
 font-size: 15px;
 align-items: center;
 text-decoration: none;
 color: rgb(2, 2, 2); 
 }
 #tortas-drip{
     text-align: center;
     background-color: #EBEBF2;
     height: 60px;
     font-size: 20px;
 }
 .fotos-drip-tamaño{
     width: 200px;
     height: auto;
     
 }
 #ul-drip{
     display: grid;
     grid-template-columns: auto auto auto;
     grid-template-rows: auto;
     column-gap: 20px;
     justify-content: space-evenly;
     padding-top: 30px;
 }
 .li-drip{
     display: inline;
     padding:10px 10px 20px 10px ;
     border:  solid black 1px;
 }
 #sobre-mi-inicio{
     text-align: center;
     background-color: #EBEBF2;
     height: 60px;
     font-size: 20px;
     margin-top: 30px;
     margin-bottom: 30px;
 }
 #sobre-mi{
     display: flex;
     justify-content:center;
     margin-bottom: 30px;
 }
 #foto-ella{
     width: 600px;
     height: 450px;
     padding-right: 30px;
 }
 #texto-ella{
     width: 40%;
     height: 00px;
     padding-left: 50px;
     font-size:  25px ;
 }
 #conoceme{
     font-family: 'Raleway', sans-serif;
     text-align: center;
     display: inline-block;
     font-size: 15px;
     text-decoration: none;
     color: blue;
 }
 .redes{
     width: 50px;
     height: auto;
 }
 #main-productos{
     grid-template-columns:auto ;
     grid-template-rows:10% 25% 5% 50% 10% ;
     row-gap: 10px ;
     grid-template-areas: "nav" "nuestros-productos" "inicio-productos" "fotos-productos" "footer" ;
 }
 #tamaño-productos{
     display: flex;
     text-align: center;
     align-items: center;
     text-align: center;
     margin-top: 15px;
     font-size: 40px;
     color: rgb(2, 2, 2); 
     background-color: #F7E9E4;
     width: 100%;
     height: 300px;
 }
 #inicio-productos{
     display: flex;
     align-items: stretch;
     margin-top: 15px; ;
     margin-bottom:15px ;
 }
 .color-inicio{
     display:inline;
     margin-top: 15px;
     color: rgb(2, 2, 2); 
     font-size: 10px;
     text-decoration: none;
     border-bottom: solid black 1px;
 }
 #fotos-grid{
     display: grid;
     justify-content: center;
     grid-template-columns: auto auto auto;
     grid-template-rows: auto auto auto ;
     row-gap: 40px;
     column-gap: 50px;   
 }
 .tortas{
     display: inline;
    }
 .tortas-tamaño{
     width: 400px;
     height: auto;
 }
 #choco-oreo{
     width: 300px;
     height: auto;
 }







@media screen and (max-width:320px ) {
    #main-inicio{
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        row-gap: 10px;
        grid-template-areas: "nav" "tres-fotos" "tortas-drip" "fotos-drip" "sobre-mi-inicio" "sobre-mi-foto" "footer";
    }
    .logo{
     width: 50px;
     height: auto;
     display: flex;
     justify-content: stretch;
    }
    .menu
    {
        display: none;
    }
    #tres-fotos{
        display: block;
        padding-top: 20px  ;
        padding-bottom: 30px;
        justify-content:center;
    }
    .div-img{
        width: 100%;
        height: 250px;
    }
    #foto-del-medio{
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Raleway', sans-serif;
        color: rgb(2, 2, 2); 
        align-items: center ;
        text-align: center;
        font-size: 20px;
        background-color: #F7E9E4;
        width: 100%;
        height: 250px;
    }
    #link-del-medio{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        align-items: center;
        text-decoration: none;
        color: rgb(2, 2, 2); 
        }
    #tortas-drip{
            text-align: center;
            background-color: #EBEBF2;
            height: 60px;
            font-size: 10px;
        }
   .fotos-drip-tamaño{
            width: 50px;
            height: auto;
            
        }
    #ul-drip{
            display: grid;
            grid-template-columns: auto ;
            grid-template-rows: auto auto ;
            column-gap: 20px;
            row-gap: 20px;
            justify-content: space-evenly;
            padding-top: 30px;
        }
    .li-drip{
            display: inline;
            padding:10px 10px 20px 10px ;
            border:  solid black 1px;
        }
    #sobre-mi-inicio{
            text-align: center;
            background-color: #EBEBF2;
            height: 60px;
            font-size: 15px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    #sobre-mi{
        display: block;
    }
    #foto-ella{
            width: 300px;
            height: auto;
        }
    #texto-ella{
            width: 300px;
            height: auto;
            font-size:  15px ;
            margin: 15px;
            margin-left: 15px;
        }
    #conoceme{
            font-family: 'Raleway', sans-serif;
            text-align: center;
            display: inline-block;
            font-size: 10px;
            text-decoration: none;
            color: blue;
        }
    .redes{
            width: 50px;
            height: auto;
        }
    .tamaño-footer{
            font-size: 12px;
        }
    .tamaño-footer-2{
            font-size: 10px;
        }



    #main-productos{
            grid-template-columns:auto auto auto auto auto ;
            grid-template-rows: auto;
            row-gap: 10px ;
            grid-template-areas: "nav" "nuestros-productos" "inicio-productos" "fotos-productos" "footer" ;
        }
    #tamaño-productos{
        display: flex;
        text-align: center;
        align-items: center;
        text-align: center;
        margin-top: 15px;
        font-size: 40px;
        color: rgb(2, 2, 2); 
        background-color: #F7E9E4;
        width: 100%;
        }
    #inicio-productos{
        display: flex;
        margin-top: 15px; ;
        margin-bottom: 45px ;
        border-bottom: solid black 1px;
        }
    .color-inicio{
        display:inline;
        margin-top: 15px;
        color: rgb(2, 2, 2); 
        font-size: 10px;
        text-decoration: none;
        text-align: center;
        align-items: center;
        border-bottom: solid black 1px;
        }
    #fotos-grid{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .tortas{
        display: inline;
    }
    .tortas-tamaño{
        width: 150px;
        height: auto;

    }
    .tamaño-footer{
        font-size: 12px;
    }
    .tamaño-footer-2{
        font-size: 10px;
    }
}

@media screen and (min-width: 480px) {}

@media screen and (min-width: 600px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}
