@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:ital,wght@0,200;0,400;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}
#main{
    width: 100%;
}
footer{
    margin-top: 10px;
    background-color:#EBEBF2;
    text-align: center;
}
nav{
    border-bottom: solid black 1px;
}
.logo-ubi{
    display: flex;
    justify-content:flex-start;
}
.menu{  
    font-family: $letra-menu;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    color: rgb(2, 2, 2); 
    margin : 0px 70px 0px 0px;
    padding : 0px 10px 0px 15px;
}
.logo{
 width: 50%;
 height: auto;
 display: flex;
 justify-content: stretch;
}
$todas-las-secciones: ($letra-principal: 'Mate SC', serif, $color-principal: #F7E9E4,$altura: 300px,$center: center,$display: flex,$ancho: 100%,$color: rgb(2, 2, 2),$tamano-letra: 40px,$margin-top: 15px,);

.secciones{
    font-family: map-get($todas-las-secciones , $letra-principal: ) ;
    display: map-get($todas-las-secciones , $display: ) ;
    align-items: map-get($todas-las-secciones , $center: ); 
    margin-top: map-get($todas-las-secciones , $margin-top: );
    font-size: map-get($todas-las-secciones , $tamano-letra: ); 
    color: map-get($todas-las-secciones , $color: ) ;
    background-color: map-get($todas-las-secciones , $color-principal: ) ;
    width: map-get($todas-las-secciones , $ancho: ) ;
    height: map-get($todas-las-secciones , $altura: ) ;
}
/*extend*/

#tortas-drip{
    font-family: $letra-secundaria;
    text-align: center;
    background-color: $color-secundario;
    height: $tamano-secundario;
    font-size: 40px;
}

.subSecciones{
    @extend #tortas-drip;
    font-size: 20px;
}

#ubi-escucharte{
    @extend .subSecciones;
    padding-top: 40px;
}
/**/

/*mixin*/
@mixin fotoDeElla($width,$height) {
    height: $height;
    width: $width;
}
#foto-ella{
    @include fotoDeElla (450px, 800px);
    padding-right: 100px;
}
#foto-sobreMi{
    @include  fotoDeElla(450px,800px )
}
/**/
.li-nav{ 
 display: inline;
 text-align: center; 
 padding-top: 5px;
 padding-bottom: 5px;
 border-bottom:  solid black 2px;
 border-top: solid black 2px;
}
.ul-nav{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-bottom: 15px;
}
#tres-fotos{
 display: flex;
 padding-top: 20px  ;
 padding-bottom: 30px;
 justify-content:center;
}
.div-img{
 width: 300px;
 height: 500px;
}
#foto-del-medio{
 font-family:$letra-menu;
 font-size: 15px;
 color: rgb(2, 2, 2); 
 align-items: center ;
 text-align: center;
 font-size: 20px;
 background-color: #F7E9E4;
 width: 300px;
 height: 500px;
}
#link-del-medio{
 font-family:$letra-principal;
 font-size: 20px;
 align-items: center;
 text-decoration: none;
 color: rgb(2, 2, 2); 
 }
.fotos-drip-tamaño{
    width: 200px;
    height: auto;
    
}
#ul-drip{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    column-gap: 20px;
    justify-content: space-evenly;
    padding-top: 30px;
}
.li-drip{
    display: inline;
    padding:10px 10px 10px 10px ;
}
.letra-tortas{
    font-size: 17px;
}
 #sobre-mi{
     display: flex;
     justify-content:center;
     margin-bottom: 30px;
 }
 #texto-ella{
     font-family: $tercer-letra;
     text-align: center;
     width: 40%;
     height: auto;
     font-size:  22px ;
 }
 #conoceme{
     font-family: 'Raleway', sans-serif;
     text-align: center;
     display: inline-block;
     font-size: 15px;
     text-decoration: none;
     color: blue;
 }
 .redes{
     width: 50px;
     height: auto;
 }
 .redes{
    width: 50px;
    height: auto;
}

@media screen and (max-width:320px ) {
    #las-drip{
        display: none;
    }
    #tres-fotos{
        display: block;
        padding-top: 20px  ;
        padding-bottom: 30px;
        justify-content:center;
    }
    .div-img{
        width: 100%;
        height: 250px;
    }
    #foto-del-medio{
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        font-family: 'Raleway', sans-serif;
        color: rgb(2, 2, 2); 
        align-items: center ;
        text-align: center;
        font-size: 20px;
        background-color: #F7E9E4;
        width: 100%;
        height: 250px;
    }
    #link-del-medio{
        font-family: 'Raleway', sans-serif;
        font-size: 15px;
        align-items: center;
        text-decoration: none;
        color: rgb(2, 2, 2); 
        }
    #tortas-drip{
            text-align: center;
            background-color: #EBEBF2;
            height: 100px;
            font-size: 5px;}
    
    #sobre-mi-inicio{
                text-align: center;
                background-color: #EBEBF2;
                height: 60px;
                font-size: 15px;
                margin-top: 30px;
                margin-bottom: 30px;
            }
    #sobre-mi{
            display: block;
        }
    #foto-ella{
                width: 300px;
                height: auto;
            }
    #texto-ella{
                width: 300px;
                height: auto;
                font-size:  10px ;
                margin: 15px;
                margin-left: 15px;
            }
    #conoceme{
                font-family: 'Raleway', sans-serif;
                text-align: center;
                display: inline-block;
                font-size: 10px;
                text-decoration: none;
                color: blue;}
        }

@media screen and (min-width: 1200px) {
    #carrusel{
        display: none;
        width: 100%;
        height: 200px;
    
    }

}