#tres-fotos{
    display: flex;
    padding-top: 20px  ;
    padding-bottom: 30px;
    justify-content:center;
}
.div-img{
    width: 300px;
    height: 500px;
}
#foto-del-medio{
    font-family:$letra-menu;
    font-size: 15px;
    color: rgb(2, 2, 2); 
    align-items: center ;
    text-align: center;
    font-size: 20px;
    background-color: #F7E9E4;
    width: 300px;
    height: 500px;
}
#link-del-medio{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    align-items: center;
    text-decoration: none;
    color: rgb(2, 2, 2); 
}
.fotos-drip-tamaño{
       width: 200px;
       height: auto;
       
}
#ul-drip{
       display: grid;
       grid-template-columns: auto auto auto auto;
       grid-template-rows: auto;
       column-gap: 20px;
       justify-content: space-evenly;
       padding-top: 30px;
}
.li-drip{
       display: inline;
       padding:10px 10px 10px 10px ;
}
.letra-tortas{
       font-size: 17px;
}
#sobre-mi{
        display: flex;
        justify-content:center;
        margin-bottom: 30px;
}
#texto-ella{
        font-family: $tercer-letra;
        text-align: center;
        width: 40%;
        height: auto;
        font-size:  22px ;
}
#conoceme{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        color: blue;
}
.redes{
        width: 50px;
        height: auto;
}