#tres-fotos{
     display: grid;
     grid-template-columns: 300px 300px 300px;
     grid-template-rows: 500px;
     grid-column-gap: 25px;
     justify-content: center;
     margin-top: 25px;
     margin-bottom: 25px;
}
.div-img{
    width: 300px;
    height: 500px;
}
#foto-del-medio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family:$letra-menu;
    font-size: 15px;
    color: rgb(2, 2, 2); 
    text-align: center;
    font-size: 20px;
    background-color: #F7E9E4;
    width: 300px;
    height: 500px;
}
#cartel-del-medio{
    width: 70%;
    padding: 10%;
    margin: auto;
}
#sobre-mi{
        display: flex;
        justify-content:center;
        margin-bottom: 30px;
}
%texto-de-ella{
        font-family: $tercer-letra;
        text-align: center;
        height: auto;
        font-size:  20px ;
}
.texto-ella{
    @extend %texto-de-ella
}
.textoDeElla{
        font-family: $tercer-letra;
        text-align: center;
        height: auto;
        font-size:  17px ;
}
#fotoElla{
    padding-left: 25px;
}
#conoceme{
        font-family: 'Raleway', sans-serif;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
}
.redes{
        width: 50px;
        height: auto;
}
#formulario{
    justify-content: center;
    padding: 20px 0 20px 0;
}

.card{
    margin-top: 25px;
}

.container-fluid{
    flex-wrap: nowrap;
}

%fotos{
    height: 450px;
    width: 500px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.foto-de-ella{
    @extend %fotos

}
#boton-catalogo{
    background-color:#F7E9E4;
    color: black;
    border-radius: 20px;
    border: solid black 1px;
}
#boton-conoceme{
    text-align: center;
    background-color: #F7E9E4;
    color: black;
    border-radius: 20px;
    border: solid black 1px;
    width: auto;
}
.row{
    text-align: center;
}