#tortas-drip{
    font-family: $letra-secundaria;
    text-align: center;
    background-color: $color-secundario;
    height: $tamano-secundario;
    font-size: 40px;
}

.subSecciones{
    @extend #tortas-drip;
    font-size: 20px;
}

.ubi-escucharte{
    @extend .subSecciones;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}

